.players-page-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.players-page-split-bar {
    border-top: solid 6px rgb(248, 220, 83);
    width: 100%;
}

.players-page-background-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
    background-color: rgb(0, 21, 97);
}

.players-page-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 115vh;
    background-color: rgb(255, 255, 255, 0.949);
    border: solid 2px rgb(248, 220, 83);
    border-radius: 10px;
}

.players-page-filter-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px black;
}

.players-page-filter-selection {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
}

.players-page-available-players-text {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    font-family: monospace;
}

.players-page-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    font-size: 15px;
    font-family: monospace;
    border: solid 2px black;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

.players-page-search-bar {
    width: 200px;
    height: 25px;
    background-color: transparent;
    border: solid;
    border-radius: 10px;
}

.players-page-player-info-headers {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px black;
}

.players-page-player-info-header {
    font-size: 17px;
    font-family: monospace;
    font-weight: bold;
    margin-left: var(--margin-left);
}

.players-page-player-object-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.players-page-player-object-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto
}

.players-page-player-object {
    display: grid;
    grid-template-columns: 12% 25% 13% 13% 13% 13% 13%;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
    height: 100px;
    border: solid 2px black;
    border-radius: 10px;
}

.players-page-object-team-logo {
    width: 60px;
    height: 60px;
}

.players-page-player-info {
    font-size: 17px;
    font-family: monospace;
}

.players-page-footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 21, 97);
}